[tool.poetry]
name = "protoletariat"
version = "1.0.0"
packages = [{ include = "protoletariat" }]
homepage = "https://github.com/cpcloud/protoletariat"
repository = "https://github.com/cpcloud/protoletariat"
description = "Python protocol buffers for the rest of us"
authors = ["Phillip Cloud <417981+cpcloud@users.noreply.github.com>"]
maintainers = ["Phillip Cloud <417981+cpcloud@users.noreply.github.com>"]
license = "Apache-2.0"
readme = "README.md"
classifiers = [
  "Operating System :: OS Independent",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
]

[tool.poetry.dependencies]
python = ">=3.8,<3.11"
astunparse = { version = ">=1.6.3,<2", python = "<3.9" }
click = ">=7.1.2,<9"
protobuf = ">=3.19.1,<4"

[tool.poetry.dev-dependencies]
black = ">=21.12b0,<24"
flake8 = ">=5.0.0,<6"
grpc-stubs = ">=1.24.7,<2"
grpcio = ">=1.42.0,<2"
isort = ">=5.9.3,<6"
mypy = "^0.971"
mypy-protobuf = ">=3.0.0,<4"
platformdirs = "<2.5.3"
pydocstyle = ">=6.1.1,<7"
pytest = ">=7.0.0,<8"
pytest-randomly = ">=3.10.1,<4"
pyupgrade = ">=2.26.0,<3"
tomli = ">=1,<3"
types-protobuf = ">=3.18.1,<4"

[tool.poetry.scripts]
protol = "protoletariat.__main__:main"

[tool.pytest.ini_options]
xfail_strict = true
addopts = [
  "--ignore=site-packages",
  "--ignore=dist-packages",
  "--ignore=.direnv",
  "--strict-markers",
  "--doctest-modules",
]
norecursedirs = ["site-packages", "dist-packages", ".direnv"]

[tool.poetry2conda]
name = "protoletariat"

[tool.black]
line_length = 88

[tool.isort]
ensure_newline_before_comments = true
line_length = 88
multi_line_output = 3
include_trailing_comma = true
profile = "black"
skip_glob = [".direnv/*", "result/*", "result-*"]

[tool.pydocstyle]
inherit = false
convention = "numpy"
match_dir = "protoletariat"
add_ignore = ["D100", "D101", "D102", "D103", "D104", "D105"]

[tool.mypy]
ignore_missing_imports = true
# untyped things
disallow_untyped_calls = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
disallow_untyped_decorators = true
# Any handling
disallow_any_unimported = true
disallow_any_expr = false
disallow_any_decorated = true
disallow_any_explicit = true
disallow_any_generics = true
disallow_subclassing_any = true
# None/Optional handling
no_implicit_optional = true
# show more context on failure
show_error_context = true
# show codes in case we end up needing to ignore
show_error_codes = true

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
