[tool.poetry]
name = "protoletariat"
version = "0.7.0"
packages = [{ include = "protoletariat" }]
homepage = "https://github.com/cpcloud/protoletariat"
repository = "https://github.com/cpcloud/protoletariat"
description = "Python protocol buffers for the rest of us"
authors = ["Phillip Cloud <417981+cpcloud@users.noreply.github.com>"]
maintainers = ["Phillip Cloud <417981+cpcloud@users.noreply.github.com>"]
license = "Apache-2.0"
readme = "README.md"
classifiers = [
  "Operating System :: OS Independent",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
]

[tool.poetry.dependencies]
python = ">=3.7,<3.11"
astunparse = { version = "^1.6.3", python = "<3.9" }
click = ">=7.1.2,<9"
protobuf = "^3.19.1"

[tool.poetry.dev-dependencies]
black = "^21.9b0"
flake8 = "^4.0.0"
grpc-stubs = "^1.24.7"
grpcio = "^1.42.0"
isort = "^5.9.3"
mypy = "^0.910"
mypy-protobuf = "^3.0.0"
pydocstyle = "^6.1.1"
pytest = "^6.2.5"
pytest-randomly = "^3.10.1"
pyupgrade = "^2.26.0"
types-protobuf = "^3.18.1"

[tool.poetry.scripts]
protol = "protoletariat.__main__:main"

[tool.semantic_release]
version_toml = "pyproject.toml:tool.poetry.version"
version_variable = ["protoletariat/__init__.py:__version__"]
branch = "main"
upload_to_pypi = true
upload_to_release = true
build_command = "poetry build"
commit_subject = "chore(release): {version}"
commit_author = "github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>"
changelog_file = "CHANGELOG.md"

[tool.pytest.ini_options]
xfail_strict = true
addopts = [
  "--ignore=site-packages",
  "--ignore=dist-packages",
  "--ignore=.direnv",
  "--strict-markers",
  "--doctest-modules",
]
norecursedirs = ["site-packages", "dist-packages", ".direnv"]

[tool.poetry2conda]
name = "protoletariat"

[tool.black]
line_length = 88

[tool.isort]
ensure_newline_before_comments = true
line_length = 88
multi_line_output = 3
include_trailing_comma = true
profile = "black"
skip_glob = [".direnv/*", "result/*", "result-*"]

[tool.pydocstyle]
inherit = false
convention = "numpy"
match_dir = "protoletariat"
add_ignore = ["D100", "D101", "D102", "D103", "D104", "D105"]

[tool.mypy]
ignore_missing_imports = true
# untyped things
disallow_untyped_calls = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
disallow_untyped_decorators = true
# Any handling
disallow_any_unimported = true
disallow_any_expr = false
disallow_any_decorated = true
disallow_any_explicit = true
disallow_any_generics = true
disallow_subclassing_any = true
# None/Optional handling
no_implicit_optional = true
# show more context on failure
show_error_context = true
# show codes in case we end up needing to ignore
show_error_codes = true

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
