on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

name: CI

concurrency:
  group: ${{ github.repository }}-${{ github.head_ref || github.sha }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  commitlint:
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install Nix
        uses: cachix/install-nix-action@v16
        with:
          nix_path: nixpkgs=channel:nixos-unstable-small
          extra_nix_config: |
            experimental-features = nix-command flakes

      - name: Setup Cachix
        uses: cachix/cachix-action@v10
        with:
          name: protoletariat
          extraPullNames: nix-community,poetry2nix

      - name: Lint commits
        run: nix shell -L -f '<nixpkgs>' commitlint -c commitlint --from=${{ github.event.pull_request.base.sha }} --to=${{ github.sha }} --verbose
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Nix
        uses: cachix/install-nix-action@v16
        with:
          nix_path: nixpkgs=channel:nixos-unstable-small
          extra_nix_config: |
            experimental-features = nix-command flakes

      - name: Setup Cachix
        uses: cachix/cachix-action@v10
        with:
          name: protoletariat
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          extraPullNames: nix-community,poetry2nix

      - name: Run pre-commit checks
        run: nix develop -c pre-commit run --all-files
  nix:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-10.15
          - macos-11
        python-version:
          - "37"
          - "38"
          - "39"
          - "310"
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Nix
        uses: cachix/install-nix-action@v16
        with:
          nix_path: nixpkgs=channel:nixos-unstable-small
          extra_nix_config: |
            experimental-features = nix-command flakes

      - name: Setup Cachix
        uses: cachix/cachix-action@v10
        with:
          name: protoletariat
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          extraPullNames: nix-community,poetry2nix

      - name: Build package and run tests
        run: nix build --print-build-logs --keep-going '.#protoletariat${{ matrix.python-version }}' --no-link
  docker-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Nix
        uses: cachix/install-nix-action@v16
        with:
          nix_path: nixpkgs=channel:nixos-unstable-small
          extra_nix_config: |
            experimental-features = nix-command flakes

      - name: Setup Cachix
        uses: cachix/cachix-action@v10
        with:
          name: protoletariat
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          extraPullNames: nix-community,poetry2nix

      - name: Build docker image
        run: nix build --print-build-logs --keep-going '.#protoletariat-image' --no-link

      - name: Load the docker image
        run: |
          set -euo pipefail

          docker load < "$(nix path-info --print-build-logs --keep-going '.#protoletariat-image')"

      - name: Smoke test the image
        run: |
          set -euo pipefail

          docker run --rm protoletariat:"$(nix eval --raw '.#protoletariat-image.imageTag')"
  conda:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-11
          - windows-latest
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
        buf:
          - buf
        click-version:
          - "click@<8"
          - "click"
        include:
          - os: ubuntu-latest
            python-version: "3.9"
            buf: no-buf
            click-version: "click"
          - os: macos-11
            python-version: "3.9"
            buf: no-buf
            click-version: "click"
          - os: windows-latest
            python-version: "3.9"
            buf: no-buf
            click-version: "click"
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup buf
        uses: bufbuild/buf-setup-action@v0.7.0
        if: ${{ matrix.buf == 'buf' }}
        with:
          github_token: ${{ github.token }}

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install poetry and poetry2conda
        run: pip3 install poetry2conda poetry

      - name: Set click version
        run: poetry add '${{ matrix.click-version }}'

      - name: Generate conda environment file
        run: |
          set -euo pipefail

          poetry2conda --dev pyproject.toml - | tee environment.yaml

      - name: Setup conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          mamba-version: "*"
          miniforge-variant: Mambaforge
          miniforge-version: latest
          channel-priority: strict
          activate-environment: protoletariat
          python-version: ${{ matrix.python-version }}
          environment-file: environment.yaml

      - name: Install grpc-cpp for codegen plugins
        if: ${{ matrix.python-version != '3.10' }}
        run: mamba install grpc-cpp

      - name: Install the package locally
        run: pip3 install .

      - name: Run tests
        run: pytest -ra
  tensorflow:
    runs-on: ubuntu-latest
    env:
      PYTHON_OUT: /tmp/tensorflow-gen
      TENSORFLOW_HOME: $GITHUB_WORKSPACE/tensorflow
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          path: protoletariat

      - name: Install Nix
        uses: cachix/install-nix-action@v16
        with:
          nix_path: nixpkgs=channel:nixos-unstable-small
          extra_nix_config: |
            experimental-features = nix-command flakes

      - name: Setup Cachix
        uses: cachix/cachix-action@v10
        with:
          name: protoletariat
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          extraPullNames: nix-community,poetry2nix

      - name: Clone Tensorflow
        uses: actions/checkout@v2
        with:
          repository: tensorflow/tensorflow
          path: tensorflow

      - name: Make generated code directory
        run: mkdir "$PYTHON_OUT"

      - name: Generate tensorflow Python proto code
        working-directory: protoletariat
        run: |
          set -euo pipefail

          nix develop -c \
            protoc \
            --python_out "$PYTHON_OUT" \
            --proto_path "$TENSORFLOW_HOME" \
            $(find "$TENSORFLOW_HOME" -name '*.proto')

      - name: Test tensorflow rewriting
        working-directory: protoletariat
        run: |
          set -euo pipefail

          nix develop -c protol --in-place --create-package --python-out "$PYTHON_OUT" \
            protoc \
            --proto-path "$TENSORFLOW_HOME" \
            $(find "$TENSORFLOW_HOME" -name '*.proto')

      - name: Check for absolute imports
        run: grep -vq -R '^import tensorflow' "$PYTHON_OUT"
  release:
    needs:
      - nix
      - conda
      - docker-image
      - pre-commit
      - tensorflow
    runs-on: ubuntu-latest
    concurrency: release
    steps:
      - name: Generate a GitHub token
        uses: tibdex/github-app-token@v1
        id: generate_token
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@v2
        if: ${{ github.event_name != 'pull_request' }}
        with:
          fetch-depth: 0
          token: ${{ steps.generate_token.outputs.token }}

      - name: Checkout PR
        uses: actions/checkout@v2
        if: ${{ github.event_name == 'pull_request' }}
        with:
          fetch-depth: 0

      - name: Configure git for semantic release
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"

      - name: Install poetry and semantic-release
        run: pip install poetry python-semantic-release

      - name: Semantic release
        if: ${{ github.event_name != 'pull_request' }}
        run: semantic-release publish --verbosity=DEBUG
        env:
          GH_TOKEN: ${{ steps.generate_token.outputs.token }}
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}

      - name: Semantic release
        if: ${{ github.event_name == 'pull_request' }}
        run: semantic-release publish --noop --verbosity=DEBUG
