name: Update Flakes
on:
  schedule:
    - cron: "50 */6 * * *"
  workflow_dispatch:
jobs:
  flake-update:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        input:
          - flake-utils
          - gitignore
          - nixpkgs
          - poetry2nix
          - pre-commit-hooks
    steps:
      - uses: actions/checkout@v2
      - uses: cachix/install-nix-action@v16
        with:
          nix_path: nixpkgs=channel:nixos-unstable-small
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - uses: tibdex/github-app-token@v1
        id: generate_token
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Update ${{ matrix.input }}
        uses: cpcloud/flake-update-action@v1.0.1
        with:
          dependency: ${{ matrix.input }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          pull-request-token: ${{ steps.generate_token.outputs.token }}
          pull-request-author: "Phillip Ground <cpcloudbot@gmail.com>"
          pull-request-labels: dependencies,autorebase:opt-in
          automerge: true
          delete-branch: true
